.header {

}

select {
    appearance: none;
    background-color: #e8e8e8;
    border: none;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    border-radius: 0.5em;
    z-index: 1;
}