

.container {
    padding: 10%;
    border: solid 10px red
}

.list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0%;
    margin: auto;
}


p { 
    text-align: center;
    font-size: 100px;
    color: black;
}
