.listDiets {
  background-color: #e8e8e8;
  ;
  height: 5%;
  padding: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.itemListDiets {
padding: 1%;
  width: max-content;
  border-radius: 16px;
  background-color: aquamarine;
  margin: 1% 1%;
  font-size: small;
  display: inline-block;
  flex-shrink: 1;
  flex-grow: 1;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 10%;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label {
    padding: auto;
    margin-bottom: 2%;
    margin-top: 5%;
    display: block;
    font-size: 20px;
}

input {
    padding: auto;
    margin-top: auto;
    height: 25px;
}

select {
  padding: 5px 1em 5px 1em;
  margin-top: 1%;

}

.add {
  color: #ffffff;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #f41fbf;
  border: 1px solid #e8e8e8;
  transition: all .3s;
  }

  .actionsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }


  .inputInvalid input {
    border: 1px solid #f41fbf;
    background-color: #fddddd;
  }

  .steps {
    display: flex;
    flex-direction: column;
    list-style-type: none; 
  }

  .stepContainer {
    display: flex;
    align-items: center;
  }

  .instructionsContainer {
    padding: 0 10% 5% 10%;
  }

  .instructionsContainer button {
    color: rgb(80, 78, 78);
    padding: 7px;
    width: 20%;
    border-radius: 0.5em;
    background: #ffffff;
    border: 1px solid ;
    outline: 0;
    margin:5px;
  }

  .instructionsContainer button:hover {
    border: 1px solid #f41fbf;

  }

  .instructionsContainerHead {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
  }

  .instructionsContainerHead input {
    width: 100%;
  }
