.pagination {
    display: flex;
    justify-content: center;
}

.pagination button {
    text-align: center;
    margin: 2px;
    padding: 0;
    width: 50px;
}
.list {
    padding: 0;
}

.actualPage {
    height: 45px;
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #06b5be;
    border: 1px solid #e8e8e8;
    transition: all .3s;
}

.nonActualPage#prev,.nonActualPage#next{
    font-size: 19px;
    width: 50px;
}


.nonActualPage {
    text-align: center;
    width: 150px;
    height: 45px;
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
   }

 .pagination button:hover {
    cursor: pointer;
    border: 2px solid white;
   }